{% extends "base.html" %}
{%block title %}Calendar{% endblock %}
{% block description %}Calendar of {{ SITENAME }}.{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/">Home</a></li>
        <li class="breadcrumb-item">Calendar</li>
      </ol>
    </nav>
</div>

<div class="container">
    <h1 class="page-title">Calendar</h1>

    <dl class="row">
      {% for event in pages | selectattr('date') | sort(attribute='date', reverse=True) if event.parent.url == 'calendar/' %}
          <dt class="col-md-2">{{ event.date.strftime('%B %-d, %Y')  }}</dt>
          <dd class="col-md-10">
            
            {% if event.content_after and event.date.date() < TODAY %}
              {{ event.content_after }}
            {% elif event.content_before and event.date.date() > TODAY %}
              {{ event.content_before }}
            {% else %}
              {{ event.content }}
            {% endif %}
          
          </dd>
      {% endfor %}
    </dl>
</div>
{% endblock content %}
