{% extends "base.html" %}
{% block description %}Homepage of {{ SITENAME }}{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
<div class="container-home">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron block-primary block-home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
			<h1 class="display-title">{{SITETITLE}}</h1>
                </div>
            </div>
            <div class="row">
<!-- 		<div class="col-md-12">
			<figure>
			<img src="{{ SITEURL }}/images/general/AIforHealthBanner.png" style="max-width:100%;">
			</figure>
		</div> -->
                <div class="col-md-12">
                    <p class="lead">{{SITELEAD}}</p>
                </div>

            </div>
        </div>
    </div>

    {% if articles %}
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h1>{{ ARTICLE_TYPE }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    {% for article in articles[0:2] %}
                        {% include 'blocks/article-summary.html' %}
                    {% endfor %}
                    <p><a href="{{ SITEURL }}/{{ ARTICLE_TYPE.lower() }}" class="btn btn-primary">All {{ ARTICLE_TYPE.lower() }}</a></p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
			{% for card in pages %}
			    {% if card.type == 'card' %}
			    	<div class="col-md-3">
   					<div class="card image-card lazyload" data-bg="{{ SITEURL}}/images/{{ card.picture }}">

        				{%if not card.disable_gradient %}
					<div class="card-gradient"></div>
					{% endif %}

					<div class="card-body">
					    <h5 class="card-title"><a href="{{ SITEURL }}/{{ card.url }}">{{ card.title }}</a></h5>
					    <p class="card-text">{{ card.description }}</p>
					    <a href="{{ SITEURL }}/{{ card.url }}">Read more →</a>
					</div>
				    </div>
				</div>
			    	<!--{% include "blocks/card.html" %} -->
			    {% endif %}
			{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
