{% extends "base.html" %}
{% block description %}{{ SITELEAD }}{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}

<div class="container-home">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron block-primary block-home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-title">{{SITENAME}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">{{SITELEAD}}</p>
                </div>
                <div class="col-md-6">
                    <figure class="figure img-fluid">
                        <img alt="Automated tumor detection" class="figure-img img-fluid" src="{{ SITEURL }}/{{HOME_IMAGE}}">
                        <figcaption class="figure-caption text-right">{{ HOME_IMAGE_CAPTION }}</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    {% if "Highlights" in HOME_SECTIONS %}
        {% if articles %}
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h1>Highlights</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        {% for article in articles[0:2] %}
                            {% include 'blocks/article-summary.html' %}
                        {% endfor %}
                        <p><a href="{{ SITEURL }}/highlights" class="btn btn-primary">All highlights</a></p>

                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="twitter-embed">
                            <a class="twitter-timeline" data-height="615" data-chrome="transparent noheader nofooter" data-dnt="true" href="{{TWITTER_URL}}">Tweets by the group</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    {% if "Calendar" in HOME_SECTIONS %}
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h1>Calendar</h1>
                </div>
            </div>
            <dl class="row calendar">
              {% for event in pages | selectattr('date') | sort(attribute='date', reverse=True) if event.parent.url == 'calendar/' %}
                {% if loop.index <= 5 %}
                  <dt class="col-md-2">{{ event.date.strftime('%B %-d, %Y')  }}</dt>
                  <dd class="col-md-10">{{ event.content }}</dd>
                {% endif %}
              {% endfor %}
            </dl>

            <div class="row">
              <div class="col-md-12 mb-4"><a href="{{ SITEURL }}/calendar" class="btn btn-primary">All events</a></div>
            </div>
        </div>
    </div>
    {% endif %}

    {% set ns = namespace(has_vacancy=False, vacancies=0) %}

    {% for vacancy in pages %}
      {% if vacancy.parent.url == 'vacancies/' and vacancy.closed == 'false' %}
        {% if not ns.has_vacancy %}
          {% set ns.has_vacancy = True %}
    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-4"><h1>Vacancies &amp; Student projects</h1></div>
        </div>
        {% endif %}

        {% set ns.vacancies = ns.vacancies + 1 %}
        {% if ns.vacancies <= 3 %}
        <div class="row vacancy">
          <div class="col-md-4">
            {% if vacancy.picture %}
            <img class="img-thumbnail" src="{{ SITEURL }}/{{ ('images/' + vacancy.picture) | resize_image('medium')}}">
            {% else %}
            <img class="img-thumbnail" src="{{ SITEURL }}/{{SITE_PICTURE}}">
            {% endif %}
          </div>

          <div class="col-md-8">
            {% if vacancy.type == 'student' %}
              <span class="vacancy-label">Student project</span>
            {% else %}
              <span class="vacancy-label">Vacancy</span>
            {% endif %}
            <h3><a href="{{ SITEURL }}/{{ vacancy.url }}" rel="bookmark" title="Permalink to {{ vacancy.title|striptags }}">
              {{ vacancy.title }}
            </a></h3>

            <p>{{ vacancy.description }}</p>

            <p><a href="{{ SITEURL }}/{{ vacancy.url }}" class="btn btn-primary">More information</a></p>
          </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if ns.has_vacancy %}
        <div class="row">
          <div class="col-md-12 mb-4"><a href="{{ SITEURL }}/vacancies" class="btn btn-primary">All vacancies ({{ ns.vacancies }})</a></div>
        </div>
      </div>
    </div>
    {% endif %}


    {% if "Projects" in HOME_SECTIONS %}
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h1>Projects</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for card in pages %}
                            {% if card.parent.url == 'projects/' %}
                                {% if card.finished == 'false' %}
                                 {% include "blocks/card.html" %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if "Software" in HOME_SECTIONS %}
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h1>Software</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for card in pages %}
                            {% if card.parent.url == 'software/' %}
                                {% if card.finished != 'true' %}
                                 {% include "blocks/card.html" %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if "Members" in HOME_SECTIONS %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h1>Members</h1>
            </div
        </div>
    </div>

    <div class="container">
        <div class="row people-grid">
        {% for person in pages %}
            {% if person.active == 'yes' and person.parent.url == 'members/' %}
                {% include "blocks/person-circle.html" %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock content %}
