{% extends "base.html" %}
{% block description %}The Computational Pathology Group develops, validates and deploys novel medical image analysis methods based on deep learning technology and focusing on computer-aided diagnosis.{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
<div class="container-home">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron block-primary block-home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
			<h1 class="display-title">{{SITETITLE}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">{{SITELEAD}}</p>
                </div>

            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
			{% for card in pages %}
			    {% if card.type == 'card' %}	
			    	{% include "blocks/card.html" %}
			    {% endif %}
			{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
