{% extends "base.html" %}
{% block description %}{{ SITELEAD }}{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}

<div class="container-home">
    {% if HOME_JUMBOTRON_LAYOUT == 'dense' %}
    <div class="jumbotron block-home block-home-dense {% if HOME_ALT_COLOR_SCHEME %}block-home-gray{% endif %}">
        <div class="container">
            <div class="row">
                <div class="{% if HOME_IMAGE %}col-md-6{% else %}col-md-12{% endif %}">
                    <h1 class="display-title">{{SITENAME}}</h1>
                    <p class="lead">{{SITELEAD}}</p>
                </div>
                {% if HOME_IMAGE %}
                <div class="col-md-6">
                    <figure>
                        {% if HOME_IMAGE == 'highlight' %}
                        <img alt="{{ articles[0].title }}" class="figure-img" src="{{ SITEURL }}/{{ ('images/' + articles[0].picture) | resize_image('large')}}">
                        <figcaption class="figure-caption text-right">{{ articles[0].title }}. <a href="{{ articles[0].url }}">Read more &rarr;</a></figcaption>
                        {% else %}
                        <img alt="Automated tumor detection" class="figure-img" src="{{ SITEURL }}/{{HOME_IMAGE}}">
                        <figcaption class="figure-caption text-right">{{ HOME_IMAGE_CAPTION }}</figcaption>
                        {% endif %}
                    </figure>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% elif HOME_JUMBOTRON_LAYOUT == 'neural-bg' %}
    <div class="block-home-neural-bg">
        <div class="jumbotron block-home block-home-dense block-home-neural">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-8">
                      <h1 class="display-title">{{SITENAME}}</h1>
                      <p class="lead">{{SITELEAD}}</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% else %}
    <div class="jumbotron block-home {% if HOME_ALT_COLOR_SCHEME %}block-home-gray{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-title">{{SITENAME}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="{% if HOME_IMAGE %}col-md-6{% else %}col-md-12{% endif %}">
                    <p class="lead">{{SITELEAD}}</p>
                </div>
                {% if HOME_IMAGE %}
                <div class="col-md-6">
                    <figure class="figure">
                      {% if HOME_IMAGE == 'highlight' %}
                      <img alt="{{ articles[0].title }}" class="figure-img" src="{{ SITEURL }}/{{ ('images/' + articles[0].picture) | resize_image('large')}}">
                      <figcaption class="figure-caption text-right">{{ articles[0].title }}. <a href="{{ articles[0].url }}">Read more &rarr;</a></figcaption>
                      {% else %}
                      <img alt="Automated tumor detection" class="figure-img" src="{{ SITEURL }}/{{HOME_IMAGE}}">
                      <figcaption class="figure-caption text-right">{{ HOME_IMAGE_CAPTION }}</figcaption>
                      {% endif %}
                    </figure>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% set row_class = cycler('block-gray', 'block-white') %}

    {% if ARTICLE_TYPE in HOME_SECTIONS %}
        {% if articles %}
        <div class="block {{ row_class.next() }}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h1>{{ ARTICLE_TYPE }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="{% if TWITTER_URL %}col-md-8 col-lg-9{% else %}col-md-12{% endif %}">
                        {% for article in articles[0:2] %}
                            {% include 'blocks/article-summary.html' %}
                        {% endfor %}
                        <p><a href="{{ SITEURL }}/{{ ARTICLE_TYPE.lower() }}" class="btn btn-primary">All {{ ARTICLE_TYPE.lower() }}</a></p>

                    </div>
                    {% if TWITTER_URL %}
                    <div class="col-md-4 col-lg-3">
                        <div class="twitter-embed">
                            <a class="twitter-timeline" data-height="615" data-chrome="transparent noheader nofooter" data-dnt="true" href="{{TWITTER_URL}}">Tweets by the group</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    {% if "Calendar" in HOME_SECTIONS %}
    <div class="block {{ row_class.next() }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h1>Calendar</h1>
                </div>
            </div>
            <dl class="row calendar">
              {% for event in pages | selectattr('date') | sort(attribute='date', reverse=True) if event.parent.url == 'calendar/' %}
                {% if loop.index <= 5 %}
                  <dt class="col-md-2">{{ event.date.strftime('%B %-d, %Y')  }}</dt>
                  <dd class="col-md-10">
                    {% if event.content_after and event.date < event.date.now() %}
                        {{ event.content_after }}
                    {% elif event.content_before and event.date > event.date.now() %}
                        {{ event.content_before }}
                    {% else %}
                        {{ event.content }}
                    {% endif %}
                  </dd>
                {% endif %}
              {% endfor %}
            </dl>

            <div class="row">
              <div class="col-md-12 mb-4"><a href="{{ SITEURL }}/calendar" class="btn btn-primary">All events</a></div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if "Vacancies" in HOME_SECTIONS %}
      {% set ns = namespace(has_vacancy=False, vacancies=0) %}

      {% for vacancy in pages | selectattr('type') | sort(attribute='type', reverse=False) if vacancy.parent.url == 'vacancies/' and vacancy.closed == 'false'  %}
        {% if not ns.has_vacancy %}
          {% set ns.has_vacancy = True %}
          <div class="block {{ row_class.next() }}">
            <div class="container">
              <div class="row">
                <div class="col-md-12 mb-4"><h1>Vacancies &amp; Student projects</h1></div>
              </div>
              {% endif %}

              {% set ns.vacancies = ns.vacancies + 1 %}
              {% if ns.vacancies <= 3 %}
              <div class="row vacancy">
                <div class="col-md-4">
                  {% if vacancy.picture %}
                  <img class="img-thumbnail lazyload" data-src="{{ SITEURL }}/{{ ('images/' + vacancy.picture) | resize_image('medium')}}">
                  {% else %}
                  <img class="img-thumbnail lazyload" data-src="{{ SITEURL }}/{{SITE_PICTURE}}">
                  {% endif %}
                </div>

                <div class="col-md-8">
                  {% if vacancy.type == 'student' %}
                    <span class="vacancy-label">Student project</span>
                  {% else %}
                    <span class="vacancy-label">Vacancy</span>
                  {% endif %}
                  <h3><a href="{{ SITEURL }}/{{ vacancy.url }}" rel="bookmark" title="Permalink to {{ vacancy.title|striptags }}">
                    {{ vacancy.title }}
                  </a></h3>

                  <p>{{ vacancy.description }}</p>

                  <p><a href="{{ SITEURL }}/{{ vacancy.url }}" class="btn btn-primary">More information</a></p>
                </div>
            </div>
        {% endif %}
      {% endfor %}

      {% if ns.has_vacancy %}
          <div class="row">
            <div class="col-md-12 mb-4"><a href="{{ SITEURL }}/vacancies" class="btn btn-primary">All vacancies ({{ ns.vacancies }})</a></div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}


    {% if "Projects" in HOME_SECTIONS %}
    <div class="block {{ row_class.next() }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h1>Projects</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for card in pages %}
                            {% if card.parent.url == 'projects/' %}
                                {% if card.finished == 'false' %}
                                 {% include "blocks/card.html" %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if "Software" in HOME_SECTIONS %}
    <div class="block {{ row_class.next() }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h1>Software</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for card in pages %}
                            {% if card.parent.url == 'software/' %}
                                {% if card.finished != 'true' %}
                                 {% include "blocks/card.html" %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if "PageCards" in HOME_SECTIONS %}
    <div class="block {{ row_class.next() }}">
      <div class="container">
        <div class="row">
        {% for card in pages %}
          {% if card.type == 'card' %}
          <div class="col-md-4">
            <div class="card image-card lazyload" data-bg="{{ SITEURL}}/images/{{ card.picture }}">
              {%if not card.disable_gradient %}
                <div class="card-gradient"></div>
              {% endif %}

              <div class="card-body">
                <h5 class="card-title"><a href="{{ SITEURL }}/{{ card.url }}">{{ card.title }}</a></h5>
                <p class="card-text">{{ card.description }}</p>
                <a href="{{ SITEURL }}/{{ card.url }}">Read more →</a>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if "Members" in HOME_SECTIONS %}
    <div class="block {{ row_class.next() }}">
      <div class="container">
          <div class="row">
              <div class="col-md-12 mb-4">
                  <h1>Members</h1>
              </div>
          </div>

          <div class="row people-grid">
          {% for person in pages %}
              {% if person.active == 'yes' and person.parent.url == 'members/' %}
                  {% include "blocks/person-circle.html" %}
              {% endif %}
          {% endfor %}
          </div>
      </div>
    </div>
    {% endif %}

</div>
{% endblock content %}
