{% extends "base.html" %}
{%block title %}Highlights{% endblock %}
{% block description %}Highlights of the Computational Pathology Group.{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/">Home</a></li>
        <li class="breadcrumb-item">Highlights</li>
      </ol>
    </nav>
</div>

<div class="container">
    <h1 class="page-title">Highlights</h1>

    {% for article in articles_page.object_list %}
    <article class="row article-summary">

        <div class="col-md-3 article-image">
            {% if article.picture %}
            <img class="img-thumbnail lazyload" alt="{{ article.title|striptags }}" src="{{ SITEURL }}/{{ ('images/news/' + article.picture) | resize_image('small')}}">
            {% endif %}
        </div>

        <div class="col-md-9 article-text">
            <header>
                <small><time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }} </time></small>
                <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            </header>

            <p>
                {% if article.description %}
                    {{ article.description }}
                {% else %}
                {{ article.summary | striptags }}
                {% endif %}
            </p>

            <p><a href="{{ SITEURL }}/{{ article.url }}">Read more &rarr;</a>
        </div>
    </article>
    {% endfor %}

    <div class="row">
        {% if articles_page.has_other_pages() %}
            {% include 'blocks/pagination.html' %}
        {% endif %}
    </div>
</div>
{% endblock content %}
