{% extends "base.html" %}
{%block title %}Highlights{% endblock %}
{% block description %}Highlights of the Computational Pathology Group.{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/">Home</a></li>
        <li class="breadcrumb-item">Highlights</li>
      </ol>
    </nav>
</div>

<div class="container">
    <h1 class="page-title">Highlights</h1>

    {% for article in articles_page.object_list %}
        {% include 'blocks/article-summary.html' %}
    {% endfor %}
    <div class="row">
        {% if articles_page.has_other_pages() %}
            {% include 'blocks/pagination.html' %}
        {% endif %}
    </div>
</div>
{% endblock content %}
