{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}Vacancies{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
{% include 'blocks/breadcrumbs.html' %}

<div class="container">
    <h1 class="page-title">{{ page.title }}</h1>
{{ page.content }}

    <h2>Project Vacancies</h2>
    <p>We welcome researches to perform academic research at Radboudumc.</p>
    <div class="row">
        {% set vacancies_show_closed = 'false' %}
	{% set show_vacancy_types = ['general'] %}
        {% include "blocks/vacancy-blocks.html" %}
    </div>

    <hr style="margin-top: 6em !important;">

    <h2 class="my-4">Active Projects</h2>
    <p>The research projects described below are currently active.</p>
	
    <hr style="margin-top: 6em !important;">

    <h2 class="my-4">Finished Projects</h2>
    <p>The research projects described below have been finished.</p>

    <div class="row">
        {% set vacancies_show_closed = 'true' %}
	{% set show_vacancy_types = ['general'] %}
        {% include "blocks/vacancy-blocks.html" %}
    </div>

</div>
{% endblock %}
