{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}{{ SITENAME }} publications overview.{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}
    <div class="container">

    <h1>{{ page.main_title }} </h1>


    <!-- if bibkeys are  custom set-->
    {% set custom = 'false' %}
    {% if page.bibkeys and page.slug != 'most-cited' %}
        {% set years = [] %} 
        {% set bibkeys_per_year = dict() %}
        {% set list_pub_type = ['article', 'preprint', 'inproceedings', 'conference', 'phdthesis', 'mastersthesis', 'book', 'other'] %} 
        {% set custom = 'true' %}
        {% for bibkey in page.bibkeys.split(',') %}
            {% set bibkey = bibkey.strip().lower() %}
            {% set year = BIB_ITEMS[bibkey]['year'] %}

            {% if year not in years %}
                {% set _dummy =  years.append(year) %} 
            {% endif %}
            
            {% if year|string() in bibkeys_per_year %}
                {% set _dummy = bibkeys_per_year.update({ year|string(): bibkeys_per_year[year|string()] + [bibkey]  })  %}
            {% else %}
                {% set _dummy = bibkeys_per_year.update({ year|string(): [bibkey] }) %}
            {% endif %}

        {% endfor %}

        {% set bib_years = years %}
        {% set next_url = 'publications/' %}
        {% include 'blocks/publication_list.html' %}

    <!-- use site group bib keys -->
    {% elif SITE_GROUP in GROUP_KEYS  %}
        {% if SHOW_PUBLICATION_YEARS is not defined %}
            {% set show_years = True %}
        {% else %}
            {% set show_years = SHOW_PUBLICATION_YEARS %}
        {% endif %}

        {% set years = GROUP_KEYS[SITE_GROUP]['__years__'] %}   

        {% if page.slug == 'publications' or page.slug == 'all-years' or page.slug == 'most-cited' %}
            {% set bib_years = GROUP_KEYS[SITE_GROUP]['__years__'] %}
        {% elif page.slug == '2012-and-before' %}
            {% set bib_years = GROUP_KEYS[SITE_GROUP]['__years__']|select("lessthan", 2013) %}
        {% else %}
            {% set bib_years = [page.slug] %}
        {% endif %}

        {% set bibkeys_per_year = GROUP_KEYS[SITE_GROUP] %} 
        {% set list_pub_type = GROUP_KEYS[SITE_GROUP]['__types__'] %}   
        
        {% set next_url = 'publications/' %}

        {% include 'blocks/publication_list.html' %}

    {% endif %}


{% endblock %}
