{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}{{ page.content | striptags | truncate(200)}}{% endblock %}
{% block page_picture %}{{ IMGURL }}/images/theses/{{ page.coverpng }}{% endblock %}
{% block content %}
{% include 'blocks/breadcrumbs.html' %}

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">{{ page.title }}</h1> 
            </div>
        </div>
    
        
        <div class="row">
            {% if BIB_ITEMS[page.bibkey]['cover_exists'] == 'True' %}
            <div class="col-md-4">
                <div class="mt-4 ml-1">
                    <div class="mt-4">
                        <img class="img-thumbnail" src="{{ IMGURL }}/images/theses/{{ page.coverpng | resize_image('medium') }}">
                    </div>
                    {% if page.urlweb %}
                        <div class="mt-4">
                        <a href="{{ page.urlweb }}" class="btn btn-primary btn-sm">Download thesis</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
    
            <div class="{% if BIB_ITEMS[page.bibkey]['cover_exists'] != 'True' %}col-md-12{% else %}col-md-8{% endif %}">
                <h2>
                {% for author in page.authors %}
                    {{ author }}
                {% endfor %}
                </h2>
                <ul class="list-unstyled">
                <li>
                {% if page.promotor %}
                    <b>Promotor:</b> {{ page.promotor }}
                {% endif %}
                </li>
                <li>
                {% if page.copromotor %}
                    <b>Copromotor:</b> {{ page.copromotor }}
                {% endif %}
                </li>
                {% if page.year %}
                    <li>
                    <b>Graduation year:</b> {{ page.year }}
                    </li>
                {% endif %}
       
                {% if page.school %}
                <li>
                    <b>{{ page.school }}</b>
                </li>
                {% endif %}

                {% if BIB_ITEMS[page.bibkey]['cover_exists'] != 'True' %}
                <li>
                    <a href="{{ page.urlweb }}" class="btn btn-primary btn-sm">Download thesis</a>
                </li>
                {% endif %}

                </ul>

                <h2>Abstract</h2>
                {{ page.content }}
            </div>
        </div>


    {% if ENABLE_PUBLICATION_PDF_REQUEST and page.has_pdf == 'True' %}
    <div id="pdf-form" class="mt-5">
      <h2>Request PDF</h2>

      <p>A pdf file of this publication is available for personal use. Enter your e-mail address in the box below and press the button. You will receive an e-mail message with a link to the pdf file.</p>

      <form method="post" action="http://shared.radboudimaging.nl/mediawiki/publication/confirmemail.php?bibkey={{ page.bibkey }}&ref={{SITE_REPO}}"><input type="text" name="email" size="50"><input type="submit" value="Send code by e-mail"></form>
    </div>

    <div id="pdf-sent" class="mt-5 alert alert-info" style="display: none">
      <h3>PDF sent</h3>

      <p>An email message containing a code and instructions to download the following paper has been sent to your email address.</p>
    </div>

    <script type="text/javascript">
      // The pdf service loads this page with the #pdf-sent hash, if it is present we hide the form.
      if(window.location.hash == '#pdf-sent') {
        document.getElementById('pdf-form').style.display = 'none';
        document.getElementById('pdf-sent').style.display = 'block';
      }
    </script>
    {% endif %}

    </div>
{% endblock %}
