{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}
    <div class="container">
    <h1>{{ page.title }} </h1>

    <p class="my-4">
        <a href="{{SITEURL}}/members/{{ page.author_name.lower().replace(' ', '-') }}/">Back to page of {{ page.author_name}}</a>
    </p>

    {% set years = [] %}
    {% set list_pub_type = ['article', 'preprint', 'inproceedings', 'conference', 'phdthesis', 'mastersthesis', 'book', 'other'] %}
    {% set bib_keys = page.bibkeys.split(',') %}	

    {% if bib_keys %}
    	{% for bibkey in bib_keys %}
    	    {# Getting list of years #}
            {% if bibkey != '' and bibkey in BIB_ITEMS and BIB_ITEMS[bibkey]['year'] not in years %}
                {% if years.append(BIB_ITEMS[bibkey]['year']) %}{% endif %}
            {% endif %}
    	{% endfor %}
    {% endif %}
                
    {% include 'blocks/publication_list.html' %}

    </div>
{% endblock %}

