{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}
    <div class="container">
    
    <h1>{{ page.main_title }} </h1>
    {% set next_url = page.parent.slug if page.parent.slug != 'publications' else page.slug %}

    <p class="my-4">
        {% if PAGE_MEMBERS_URL %}
            <a href="{{SITEURL}}/{{ PAGE_MEMBERS_URL.format(slug=next_url) }}">Back to page of {{ page.author_name}}</a>
        {% else %}
            <a href="{{SITEURL}}/members/{{ next_url }}">Back to page of {{ page.author_name}}</a>
        {% endif %}
    </p>

    {%set custom = 'false' %}
    {% if page.author|string() in AUTHOR_KEYS %}
        {% if page.show_publication_years == 'yes' %}
            {% set show_years = True  %}
        {% else %}
            {% set show_years = False  %}
        {% endif %}

        {% set years = AUTHOR_KEYS[page.author|string()]['__years__']  %}

        {% if page.slug == page.author|string() or page.slug == 'no-year-headings' %}
            {% set bib_years = AUTHOR_KEYS[page.author|string()]['__years__'] %}
        {% elif page.slug == '2012-and-before' %}
            {% set bib_years = AUTHOR_KEYS[page.author|string()]['__years__']|select("lessthan", 2013) %}
        {% else %}
            {% set bib_years = [page.slug] %}
        {% endif %}

        {% set bibkeys_per_year = AUTHOR_KEYS[page.author|string()] %} 
        {% set list_pub_type = AUTHOR_KEYS[page.author|string()]['__types__'] %}     
        
        {% set next_url = page.parent.url if page.parent.slug != 'publications' else page.url %}

        {% include 'blocks/publication_list.html' %}
    {% endif %}
    </div>
{% endblock %}

