{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}
    <div class="container">
    <h1>{{ page.title }} </h1>

    <p class="my-4">
        {% if PAGE_MEMBERS_URL %}
            <a href="{{SITEURL}}/{{ PAGE_MEMBERS_URL.format(slug=page.slug) }}">Back to page of {{ page.author_name}}</a>
        {% else %}
            <a href="{{SITEURL}}/members/{{ page.slug }}">Back to page of {{ page.author_name}}</a>
        {% endif %}
    </p>

    {% if page.author in AUTHOR_KEYS %}
        {% set years = AUTHOR_KEYS[page.author|string()]['__years__'] %}   
        {% set bibkeys_per_year = AUTHOR_KEYS[page.author|string()] %} 
        {% set list_pub_type = ['article', 'preprint', 'inproceedings', 'conference', 'phdthesis', 'mastersthesis', 'book', 'other'] %}            
        {% include 'blocks/publication_list.html' %}
    {% endif %}
    </div>
{% endblock %}

