{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}Research groups{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
{% include 'blocks/breadcrumbs.html' %}

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">{{ page.title }}</h1>
        <p>{{ page.content }}</p>
      </div>
    </div>

    <h2>Research groups</h2>
    <div class="row">
    {% for name, website in DIAG_WEBSITES_CONFIG.items() %}
    <div class="col-md-4">
        <div class="card image-card lazyload" data-bg="{{ SITEURL }}/{{ website.HOME_IMAGE | resize_image('medium')}}">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ DIAG_WEBSITE_URLS[name] }}">{{ website.SITENAME }}</a></h5>
                <p class="card-text">{{  website.SITELEAD }}</p>
                <a href="{{ DIAG_WEBSITE_URLS[name] }}" class="btn btn-primary">Visit main website</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

    <h2>Highlighted projects</h2>

    <h2>Software projects</h2>
    <div class="row">
        {% for card in pages %}
            {% if card.parent.url == 'software/' %}
                {% if card.finished != 'true' %}
                 {% include "blocks/card.html" %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
