{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}{{ SITENAME }} software{% endblock %}
{% block page_picture %}{{ SITEURL }}/images/software/asap_screenshot.png{% endblock %}
{% block content %}
{% include 'blocks/breadcrumbs.html' %}

<div class="container">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ page.content }}

    <div class="row">
        {% for card in pages %}
            {% if card.category == 'software' %}
                {% if card.finished != 'true' %}
                 {% include "blocks/card.html" %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
