{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}Theses of {{ SITENAME }}.{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}

    <div class="container">
    <h1>{{ page.title }}</h1>

    {% set bib_keys = [] %}
    <!-- get bibkeys for current group -->
    {% for person in pages|reverse %}
    {% if person.category == 'members' %}
       {% set person_key = person.name.replace(' ', '-') %}  
       {% if person_key in AUTHOR_KEYS %}
           {% for bibkey in AUTHOR_KEYS[person_key]  %}
            {% if bibkey not in bib_keys %}
                {% set _ = bib_keys.append(bibkey) %}
            {% endif %}
        {% endfor %}
       {% endif %}
    {% endif %}
    {% endfor %}
    
    {% set list_years = [] %}
    {% set list_pub_type = [] %}
    {% if bib_keys %}
    {% for bibkey in bib_keys %}
        <!-- Getting list of years -->
        {% if BIB_ITEMS[bibkey]['type'] == 'phdthesis' and BIB_ITEMS[bibkey]['year'] not in list_years %}
            {% if list_years.append(BIB_ITEMS[bibkey]['year']) %}{% endif %}
        {% endif %}
        <!-- Getting list of pub_type -->
        {% if BIB_ITEMS[bibkey]['type'] == 'phdthesis' and BIB_ITEMS[bibkey]['type'] not in list_pub_type %}
            {% if list_pub_type.append(BIB_ITEMS[bibkey]['type']) %}{% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
    
    <!-- Inpress keys should go here. To include "Accepted or to appear" section -->
    <p>Below is an overview of PhD theses written or supervised by members of the Diagnostic Image Analysis Group.</p>

    <!-- Lists the publications per year and organized by publication type -->
    <div class="row">
    {% set theses_without_cover = [] %}
    {% for cur_year in list_years|sort(reverse = True) %}
            {% for pub_type in list_pub_type %}
                {% set found = { 'flag': false } %}
                {% for bibkey in bib_keys %}
                    {% if BIB_ITEMS[bibkey]['type'] == pub_type and BIB_ITEMS[bibkey]['year'] == cur_year %}
                    {% set coverpng = BIB_ITEMS[bibkey]['coverpng'] %}
                    {% set bibkey = BIB_ITEMS[bibkey]['coverpng'].replace('.png', '').lower() %}
                        {% if BIB_ITEMS[bibkey]['cover_exists'] == 'True' %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <a href="{{SITEURL}}/publications/{{ bibkey }}"><img class="card-img-top lazyload" data-src="{{SITEURL}}/{{ ('images/theses/' + coverpng) | resize_image('medium') }}" alt="{{ BIB_ITEMS[bibkey]['title_thesis'] }}"></a>
                            </div>
                        </div>
                        {% else %}
                            {% set _ = theses_without_cover.append(bibkey) %}
                        {% endif %}

                    {% endif %}
                {% endfor %}
            {% endfor %}
    {% endfor %}
    </div>


    <!-- Thesis without cover -->
    <div class="row">
        <h3>Thesis (without cover)</h3>
        <ul>
        {% for bibkey in theses_without_cover %}
            {% include "blocks/publication-item.html" %}
        {% endfor %}
        </ul>
    </div>

    </div>
{% endblock %}
