{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}Theses of the Computational Pathology Group.{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
    <div class="container">
    <h1>{{ page.title }}</h1>

    {% set list_years = [] %}
    {% set list_pub_type = [] %}
    {% for bibkey in bibkeys_html.keys() %}
        <!-- Getting list of years -->
        {% if bibkeys_html[bibkey]['pub_type'] == '@PhdThesis' and bibkeys_html[bibkey]['year'] not in list_years %}
            {% if list_years.append(bibkeys_html[bibkey]['year']) %}{% endif %}
        {% endif %}
        <!-- Getting list of pub_type -->
        {% if bibkeys_html[bibkey]['pub_type'] == '@PhdThesis' and bibkeys_html[bibkey]['pub_type'] not in list_pub_type %}
            {% if list_pub_type.append(bibkeys_html[bibkey]['pub_type']) %}{% endif %}
        {% endif %}
    {% endfor %}

    <!-- Inpress keys should go here. To include "Accepted or to appear" section -->
    <p>Below is an overview of PhD theses written or supervised by members of the Diagnostic Image Analysis Group.</p>
    <!-- Lists the publications per year and organized by publication type -->
    <div class="row">
    {% for cur_year in list_years|sort(reverse = True) %}

            {% for pub_type in list_pub_type %}
                {% set found = { 'flag': false } %}
                {% for bibkey in bibkeys_html.keys() %}
                    {% if bibkeys_html[bibkey]['pub_type'] == pub_type and bibkeys_html[bibkey]['year'] == cur_year %}
                    {% set coverpng = bibkeys_html[bibkey]['coverpng'] %}
                    {% set bibkey = bibkeys_html[bibkey]['coverpng'].replace('.png', '').lower() %}

                    <div class="col-md-4">
                        <div class="card">
                            <a href="{{SITEURL}}/publications/{{ bibkey }}"><img class="card-img-top" src="{{SITEURL}}/images/theses/{{ coverpng }}" alt="{{ bibkeys_html[bibkey]['title_thesis'] }}"></a>
                            <div class="card-body" style="height: 170px">
                                <h5 class="card-title"><a href="{{SITEURL}}/publications/{{ bibkey }}">{{ bibkeys_html[bibkey]['title_thesis'] }}</a></h5>
                                <p class="text-muted">{{ bibkeys_html[bibkey]['author_name'] }}</p>
                            </div>
                            <div class="card-footer" style="background: none">
                                <a href="{{SITEURL}}/publications/{{ bibkey }}" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
    {% endfor %}
    </div>
    </div>
{% endblock %}
