{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}Vacancies{% endblock %}
{% block page_picture %}{{ SITEURL }}/{{SITE_PICTURE}}{% endblock %}
{% block content %}
{% include 'blocks/breadcrumbs.html' %}

<div class="container">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ page.content }}

    <h2>Open vacancies</h2>
    <div class="row">
        {% set vacancies_show_closed = 'false' %}
        {% set vacancies_show_student_project = 'false' %}
        {% include "blocks/vacancy-blocks.html" %}
    </div>

    <h2>Student projects</h2>
    <div class="row">
        {% set vacancies_show_closed = 'false' %}
        {% set vacancies_show_student_project = 'true' %}
        {% include "blocks/vacancy-blocks.html" %}
    </div>

    <h2 class="my-4">Closed vacancies</h2>
    <div class="row">
        {% set vacancies_show_closed = 'true' %}
        {% set vacancies_show_student_project = 'false' %}
        {% include "blocks/vacancy-blocks.html" %}
    </div>

    <h2 class="my-4">Closed student projects</h2>
    <div class="row">
        {% set vacancies_show_closed = 'true' %}
        {% set vacancies_show_student_project = 'true' %}
        {% include "blocks/vacancy-blocks.html" %}
    </div>
</div>
{% endblock %}
