{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}{{ page.description }}{% endblock %}
{% block page_picture %}{{ IMGURL }}/images/{{ page.picture }}{% endblock %}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}

    <div class="container">
    <h1 class="page-title">{{ page.title }}</h1>

    {% if page.closed == 'true' %}
    <p class="alert alert-warning"><b>Note:</b> This application has been filled. Please see our <a href="{{ SITEURL }}/vacancies/">Vacancies</a> page for open vacancies.</p>
    {% endif %}

<!--     {% if page.type == 'student' or page.type == 'student-aihealth' %}
    <p class="alert alert-info">This is a student project vacancy.</p>
    {% endif %}
 -->
    {% if page.picture %}
    <img src="{{ IMGURL }}/images/{{ page.picture }}" alt="{{page.title}}" class="img-fluid">
    {% endif %}

    <p></p>
    <div class="page-content">
        {{ page.content }}
    </div>

    {% if page.people %}
    <h2>People</h2>
    <div class="container">
        <div class="row people-grid">
        {% for person_name in page.people.split(',') %}
          {% if person_name.strip() in MEMBER_DATA_PER_NAME %}
            {% set person = MEMBER_DATA_PER_NAME[person_name.strip()] %}
            {% include "blocks/person-circle.html" %}
          {% else %}
            {% include "blocks/person-external-circle.html" %}
          {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
