{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block description %}{{ page.description }}{% endblock %}
{% block page_picture %}{{ SITEURL }}/images/{{ page.picture }}{% endblock %}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}

    <div class="container">
    <h1 class="page-title">{{ page.title }}</h1>

    {% if page.closed == 'true' %}
    <p class="alert alert-warning"><b>Note:</b> This application has been filled. Please see our <a href="{{ SITEURL }}/vacancies/">Vacancies</a> page for open vacancies.</p>
    {% endif %}

    {% if page.student_project == 'true' %}
    <p class="alert alert-info">This is a student project vacancy.</p>
    {% endif %}

    {% if page.picture %}
    <img src="{{ SITEURL }}/images/{{ page.picture }}" alt="{{page.title}}" class="img-respsonsive">
    {% endif %}

    <div class="page-content">
        {{ page.content }}
    </div>

    {% if page.people %}
    <h2>People</h2>
    <div class="container">
        <div class="row people-grid">
        {% for person_name in page.people.split(',') %}
            {% set found = { 'flag': false } %}

            {% for person in pages %}
                {% if person.parent.url == 'members/' and person_name.strip() == person.name %}
                    {% include "blocks/person-circle.html" %}
                    {% if found.update({'flag': true}) %}{% endif %}
                {% endif %}
            {% endfor %}

            {% if not found.flag %}
                {% include "blocks/person-external-circle.html" %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
