/*

Home page
-------------------------------------------

Styles of the home page.

*/

// Home has custom styling on its container
.content-home {
  background-color: $body-bg-darker;
}

// Content blocks
.block {
  margin-bottom: 1em;
  padding: 3em 0 3em 0;

  border-bottom: 3px solid $gray-300;
}

// First block on the home page
.block-home {
  margin-top: -3px;
  border-radius: 0;
  background-color: $primary;
  color: $white;
  padding-bottom: 34px; /* Default padding, substracted with size of figcaption */

  .lead {
    font-weight: 400;

    @include media-breakpoint-down(md) {
      padding-bottom: 1em;
    }
  }

  &.block-home-dense {
    .display-title {
      margin-bottom: 0.5em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  @include media-breakpoint-up(md) {
    figure {
      float: right;
      height: 380px;
      margin: 0;
    }
  }

  img {
    max-height: 350px;
    max-width: 100%;
    border: 1px solid lighten($primary, 30);
    border-radius: 1px;
  }

  figcaption {
    color: lighten($primary, 45);

    a {
      color: lighten($primary, 45);
    }
  }
}


.content-home {
  // Alternative styles for highlights
  article {
    background-color: white;
    padding: 2em 1em;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      height: 280px;

      .img-thumbnail {
        max-height: 200px;
      }
    }
  }

  .vacancy {
    background-color: $white;
    padding: 2em 1em;
    margin-bottom: 15px;
  }
  .vacancy-label {
    font-weight: bold;
    color: $gray-600;
  }

  // Styles for twitter block on home page.
  .twitter-embed {
    background-color: $white;

    @include media-breakpoint-up(lg) {
      height: 575px;
      overflow: hidden;
    }
  }

  .calendar {
    background-color: $white;
    padding: 2em 1em;
  }
}
