/*

Home page
-------------------------------------------

Styles of the home page.

*/

// Home has custom styling on its container
.content-home {
  background-color: $body-bg-darker;
}

// Content blocks
.block {
  padding: 3em 0 3em 0;

  border-bottom: 3px solid $gray-300;

  &.block-gray {
    background-color: $body-bg-darker;
  }
  &.block-white {
    background-color: $white;
  }
}

// First block on the home page
.block-home {
  margin-top: -3px;
  border-radius: 0;
  background-color: $primary;

  color: $white;
  padding-bottom: 34px; /* Default padding, substracted with size of figcaption */

  .lead {
    font-weight: 400;

    @include media-breakpoint-down(md) {
      padding-bottom: 1em;
    }
  }

  &.block-home-dense {
    .display-title {
      margin-bottom: 0.5em;
    }
  }

  &.block-home-neural {
    background: none;
    background-image: url('/images/general/home-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    min-height: 400px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  @include media-breakpoint-up(md) {
    figure {
      float: right;
      height: 380px;
      margin: 0;
    }
  }

  img {
    float: right;
    max-height: 350px;
    max-width: 100%;
    border: 1px solid lighten($primary, 30);
    border-radius: 1px;
  }

  figcaption {
    float: right;
    color: lighten($primary, 45);
    a {
      color: lighten($primary, 45);
      white-space: nowrap;
    }
  }

  // Alternative color scheme
  &.block-home-gray {
    background-color: $gray-2;

    img {
      border: 1px solid lighten($gray-2, 30);
    }
    figcaption {
      color: lighten($gray-2, 45);
      a {
        color: lighten($gray-2, 45);
      }
    }
  }
}

// Background gradient for neural image
.block-home-neural-bg {
    background: #00afdc;
    @include media-breakpoint-up(md) {
      background: linear-gradient(90deg, rgb(9, 38, 68) 0%, #00afdc 100%);
    }
}

.content-home {
  // Alternative styles for highlights
  article {
    background-color: white;
    padding: 2em 1em;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      height: 280px;

      .img-thumbnail {
        max-height: 200px;
      }
    }
  }

  .block-gray .vacancy {
    background-color: $white; // Alternative color scheme for vacancy
  }
  .block-white .vacancy {
    background-color: $body-bg-darker;
  }

  .vacancy {
    padding: 2em 1em;
    margin-bottom: 15px;
  }
  .vacancy-label {
    font-weight: bold;
    color: $gray-600;
  }

  // Styles for twitter block on home page.
  .twitter-embed {
    background-color: $white;

    @include media-breakpoint-up(lg) {
      height: 575px;
      overflow: hidden;
    }
  }

  .calendar {
    background-color: $white;
    padding: 2em 1em;
  }
}
