/*

Layout file
-------------------------------------------

Sets basic styles required by all pages.

*/

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column
}

main {
  // Add top padding for navbar
  padding-top: 40px;
  @include media-breakpoint-up(md) {
    padding-top: 80px; // More padding due to external links
  }
  padding-bottom: 60px;
  // Let content grow for sticky footer
  flex: 1 1 auto;

  > .container {
    padding-top: 30px;
  }
}

article {
  padding: 2em 2em 2em 0;
}

// Sticky footer
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  // height: 100%;
  // line-height: 60px; /* Vertically center the text there */
  background-color: $gray-100;
  border-top: 1px solid $gray-200;

  .footer-ribbon {
    h3 {
      color: $white;
      font-weight: bold;
    }

    img {
      max-width: 100px;
      width: 100%;
      height: auto;
    }

    text-align: center;
    margin-top: -1px;
    padding: 1em 1em 1.5em 1em;
    background-color: $primary;
    color: $white;
  }
}

.page-content {
  // Make all images on pages auto-responsive
  img {
    max-width: 100%;
    height: auto;
  }
}
