/*

Variables
-------------------------------------------

Bootstrap overwrites go here.

*/

$primary: #00afdc; //Radboudumc color

$body-bg: #FCFCFC;
$body-color: #4F4F4F;

$body-bg-darker: #f5f5f5;

// Override default primary to radboudumc color
$theme-colors: (
  "primary": $primary,
);
