<div class="col-md-4">
    <div class="card image-card lazyload">

        <a href="{{ SITEURL }}/{{ card.url }}">
            <img alt="" src="{{ IMGURL }}/images/{{ card.picture }}" width="100%" height="100%">
        </a>
        
        <div class="card-body">
            <h5 class="card-title"><a href="{{ SITEURL }}/{{ card.url }}">{{ card.title }}</a></h5>
            <p class="card-text">{{ card.description }}</p>
            <a href="{{ SITEURL }}/{{ card.url }}">Read more →</a>
        </div>
    </div>
</div>
