<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <div class="external-links">
                {{TOP_DOMAIN}} {% if PARENT_DOMAIN and PARENT_DOMAIN != '' %} | {{PARENT_DOMAIN}}{% endif %}
            </div>

            <a href="{{ SITEURL }}/">
                <span class="name-full">{{ SITENAME }}</span>
                <span class="name-short">{{ SITENAME_SHORT }}</span>
            </a>
        </div>
        <input type="checkbox" id="navbar-toggle-cbox">

        <label for="navbar-toggle-cbox" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </label>

        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="navbar-nav ml-auto">
                {% for section in NAV_SECTIONS %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ SITEURL }}/{{ section.url }}">
                            {% if section.icon %}
                            <svg class="nav-icon svg-icon svg-icon-{{ section.icon }}">
                                <use xlink:href="#icon-{{ section.icon }}"></use>
                            </svg>
                            {% endif %}

                            {% if section.icon_mobile %}
                            <svg class="d-lg-none nav-icon svg-icon svg-icon-{{ section.icon_mobile }}">
                                <use xlink:href="#icon-{{ section.icon_mobile }}"></use>
                            </svg>
                            {% endif %}

                            <span class="nav-icon-text {% if section.text_class %}{{section.text_class }}{% endif %} {% if section.hidden %}nav-icon-text-hidden w-{{ section.hidden }}{% endif %}">{{ section.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
