{% for project in pages %}
    {% if project.parent.url == 'projects/' %}
        {% if project.finished == projects_show_finished %}
        {% if not project_columns %}
        <div class="col-md-4">
        {% endif %}
            <div class="card project-card" style="background-image: url('{{ SITEURL}}/images/projects/{{ project.picture }}')">

                {%if not project.disable_gradient %}
                <div class="card-gradient"></div>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title"><a href="{{ SITEURL }}/{{ project.url }}">{{ project.title }}</a></h5>
                    <p class="card-text">{{ project.description }}</p>
                    <a href="{{ SITEURL }}/{{ project.url }}">Read more →</a>
                </div>
            </div>
            {% if not project_columns %}
            </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
