<li>
     {{ BIB_ITEMS[bibkey]['authors'] }}.
   
    "{{ BIB_ITEMS[bibkey]['title'] }}",
   
    {% if 'journal' in BIB_ITEMS[bibkey] %}
    <i>{{ BIB_ITEMS[bibkey]['journal'] }}, </i>
    {% elif 'booktitle' in BIB_ITEMS[bibkey] %}
        <i>{{ BIB_ITEMS[bibkey]['booktitle'] }}, </i>
    {% endif %}
   
    {% if 'year' in BIB_ITEMS[bibkey] %}
        {{ BIB_ITEMS[bibkey]['year'] }}.
    {% endif %}
   
    {% if 'file' in BIB_ITEMS[bibkey] %}    
        <a href={{ '/publications/%s'%bibkey }}>Abstract/PDF</a>
    {% else %}
        <a href={{ '/publications/%s'%bibkey }}>Abstract</a>
    {% endif %}

    {% if 'doi' in BIB_ITEMS[bibkey] %}
    <a href={{ BIB_ITEMS[bibkey]['doi'] }}>DOI</a>
    {% endif %}
    
    {% if 'pmid' in BIB_ITEMS[bibkey] %}
    <a href={{ BIB_ITEMS[bibkey]['pmid'] }}>PMID</a>
    {% endif %}

    {% if 'url' in BIB_ITEMS[bibkey] and BIB_ITEMS[bibkey]['url_type'] == 'arXiv' %}
	<a href={{ BIB_ITEMS[bibkey]['url'] }}> {{ BIB_ITEMS[bibkey]['url_type'] }} </a>
    {% endif %}
</li>

