<li>{{- BIB_ITEMS[bibkey]['authors']|safe }}. {{ BIB_ITEMS[bibkey]['title'] }}.
    {% if 'journal' in BIB_ITEMS[bibkey] -%}
    {{ BIB_ITEMS[bibkey]['journal'] }}&nbsp; 
    {%- elif 'booktitle' in BIB_ITEMS[bibkey] -%}
    <i>{{ BIB_ITEMS[bibkey]['booktitle'] }}, </i>
    {%- endif -%}
    {%- if 'pubinfo' in BIB_ITEMS[bibkey] -%}
    {{- BIB_ITEMS[bibkey]['pubinfo'] -}}.
    {%- endif -%}
    <small>
        {% if 'file' in BIB_ITEMS[bibkey] %}
        <a class="badge badge-light" href="{{- '/publications/%s'%bibkey -}}">Abstract/PDF</a>
        {% else %}
        <a class="badge badge-light" href="{{- '/publications/%s'%bibkey -}}">Abstract</a>
        {% endif %}

        {% if 'doi' in BIB_ITEMS[bibkey] %}
        <a class="badge badge-light" href="{{ BIB_ITEMS[bibkey]['doi'] }}">DOI</a>
        {% endif %}

        {% if 'pmid' in BIB_ITEMS[bibkey] %}
        <a class="badge badge-light" href="{{ BIB_ITEMS[bibkey]['pmid'] }}">PMID</a>
        {% endif %}

        {% if 'url' in BIB_ITEMS[bibkey] and 'doi' not in BIB_ITEMS[bibkey] %}
        <a class="badge badge-light" href="{{ BIB_ITEMS[bibkey]['url'] }}"> {{ BIB_ITEMS[bibkey]['url_type'] }} </a>
        {% endif %}

        {% if 'gsid' in BIB_ITEMS[bibkey] and 'gscites' in BIB_ITEMS[bibkey] %}
        <a class="badge badge-light" href="{{ BIB_ITEMS[bibkey]['gsid'] }}">Cited by
            ~{{  BIB_ITEMS[bibkey]['gscites'] }}</a>
        {% endif %}

        {% if 'code' in BIB_ITEMS[bibkey] %}
        <a class="badge badge-light" href="{{ BIB_ITEMS[bibkey]['code'] }}">Code</a>
        {% endif %}

        {% if 'github' in BIB_ITEMS[bibkey] %}
        <a class="badge badge-light" href="{{ BIB_ITEMS[bibkey]['github'] }}">GitHub</a>
        {% endif %}

        {% if 'algorithm' in BIB_ITEMS[bibkey] %}
        <a class="badge badge-light" href="{{ BIB_ITEMS[bibkey]['algorithm'] }}">Algorithm</a>
        {% endif %}

    </small></li>