{% if custom == 'false' or page.slug == 'most-cited' %} 
<div class="btn-group btn-group-toggle year-button-group" data-toggle="buttons">

    {% if page.slug == page.author or page.slug == 'publications' %}
        <a class="btn btn-link" style="color:grey; font-weight: bold" href="{{SITEURL}}/{{next_url}}">all</a>
    {% else %}
        <a class="btn btn-link" style="color:grey" href="{{SITEURL}}/{{next_url}}">all</a>
    {% endif %}

    {% if page.slug == 'all-years' %}
        <a class="btn btn-link" style="color:grey; font-weight: bold" href="{{SITEURL}}/{{next_url}}all-years">all years</a>
    {% else %}
        <a class="btn btn-link" style="color:grey" href="{{SITEURL}}/{{next_url}}all-years">all years</a>
    {% endif %}
    
    {% set max_year = MAX_YEAR_PUB or 2012   %}
    {% for cur_year in years if cur_year|int >= max_year  %}
        {% set cur_year_slug = cur_year %}
        {% if cur_year|int <= max_year %}
            {% set cur_year = max_year|string + ' and before' %}
            {% set cur_year_slug = max_year|string + '-and-before' %}
        {% endif %}

        {% if page.slug == cur_year_slug|string() %}
            <a class="btn btn-link" style="color:grey; font-weight: bold" href="{{SITEURL}}/{{next_url}}{{cur_year_slug}}">{{ cur_year }}</a>
        {% else %}
            <a class="btn btn-link" style="color:grey" href="{{SITEURL}}/{{next_url}}{{cur_year_slug}}">{{ cur_year }}</a>
        {% endif %}
        
    {% endfor %}

    {% if next_url == 'publications/' and page.slug == 'most-cited' %}
        <a class="btn btn-link" style="color:grey; font-weight: bold" href="{{SITEURL}}/{{next_url}}most-cited">most cited</a>
    {% elif next_url == 'publications/' %}
        <a class="btn btn-link" style="color:grey" href="{{SITEURL}}/{{next_url}}most-cited">most cited</a>
    {% endif %}
</div>
{% endif %}


{% if page.slug == 'most-cited' %}
    <h2>{{ page.title }}</h2>
    <ol>
    {% for bibkey in page.bibkeys.split(',') %}
        {% set bibkey = bibkey.strip().lower() %}
        {% if bibkey in BIB_ITEMS %}
            {% include "blocks/publication-item.html" %}
        {% endif %}
    {% endfor %}
    </ol>
{% else %}
    {% if next_url != page.url and page.slug != 'most-cited' %}
        {% for cur_year in bib_years %}
                <h2>{{ cur_year }}</h2>
            
            {% for pub_type in list_pub_type %}
                {% set found = { 'flag': false } %}
                {% for bibkey in bibkeys_per_year[cur_year|string()] %}
                    {% if BIB_ITEMS[bibkey]['type'] == pub_type  %}
                        {% if found['flag'] == false %}
                            {% include "blocks/publication-type.html" %}
                            <ol>
                            {% if found.update({'flag': true}) %}{% endif %}
                        {% endif %}
                        {% include "blocks/publication-item.html" %}				
                    {% endif %}
                {% endfor %}
                {% if found['flag'] == true %}
                    </ol>
                {% endif %}
            {% endfor %}
        {% endfor %}
        
    {# Lists the publications organized by publication type per year #}
    {% else %}
        {% for pub_type in list_pub_type %}
                {% include "blocks/publication-type.html" %}
                <ol>
                {% for cur_year in bib_years %}
                    {% for bibkey in bibkeys_per_year[cur_year|string()] %}
                        {% if BIB_ITEMS[bibkey]['type'] == pub_type  %}
                            {% include "blocks/publication-item.html" %}				
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </ol>
        {% endfor %}
    {% endif %}
{% endif %}

   